<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="card card-body">
      <h3 class="text-center">Register</h3>
        <form>
          <div class="form-group">
            <label for="nome">Nome:</label>
            <input type="text" name="nome" autocomplete=""class="form-control" required>
          </div>
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" name="email" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" name="password" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="password2">Confirmar Password:</label>
            <input type="password" name="password2" class="form-control" required>
          </div>
          <button type="submit" class="btn btn-success">Salvar</button>
        </form>
    </div>
  </div>
</div>
